node_modules
.env
build

git init --initial-branch=main
git remote add origin https://github.com/NayanSayaji/electricity-data-management-platform.git
git add .
git commit -m "Added - Basic project setup" -m "Added basic project setup database design and basic authentication system"
git push -u origin main